* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    background: #FFE600;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    width: 460px;
    height: 300px;
    position: relative;
}

#nose {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border: 10px solid transparent;
    border-top-color: black
}

#nose::before {
    content: '';
    display: block;
    width: 20px;
    height: 5px;
    background: black;
    position: absolute;
    top: -15px;
    left: -10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.eye {
    position: absolute;
    ;
    width: 60px;
    height: 60px;
    background: #2e2e2e;
    border: 2px solid black;
    border-radius: 50%;
    top: 65px;
}

.eye::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 6px;
    border: 2px solid black;
}

.eye-left {
    right: 50%;
    margin-right: 90px;
}

.eye-right {
    left: 50%;
    margin-left: 90px;
}

.upperLip {
    position: absolute;
    top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.upperLip::before {
    content: '';
    display: block;
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 50px 30px;
    transform: rotateZ(-17deg);
    background:#FFE600;
}

.upperLip::after {
    content: '';
    display: block;
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 50px 30px;
    transform: rotateZ(17deg);
    background:#FFE600;
}
.lowerLip-wrapper{
    position: absolute;
    width:100%;
    height:160px;
    top:130px;
    overflow: hidden;
}
.lowerLip {
    border:3px solid black;
    position: absolute;
    left: 50%;
    bottom:-0px;
    width: 200px;
    height: 1800px;
    transform: translateX(-50%);
    border-top: none;
    border-bottom-left-radius: 100px 900px;
    border-bottom-right-radius: 100px 900px;
    border-top-left-radius:100px 160px;
    border-top-right-radius:100px 160px;
    background:#FF485F;
    box-shadow:inset 0 1671px 0 0 #9B000A;
}
.face{
    border:3px solid black;
    position: absolute;;
    width:90px;
    height:90px;
    border-radius: 45px;
    top:150px;
    background:#FF0000;
}
.face-left{
    right: 50%;
    margin-right:130px;
}
.face-left{
    left: 50%;
    margin-left:130px;
}